<footer id="footer-container">
  <div class="banner">
    <img src="./static/images/footer/assinatura.png" alt="assinatura" />
  </div>

  <p class="copyright">
    Copyright ® Mandarin. Todos os direitos reservados.
    <br />
    Caso não deseje mais receber nossos e-mails, por favor clique aqui.
  </p>
</footer>

<style>
  #footer-container {
    .banner {
      width: 100%;
      height: 81px;
      display: grid;
      align-items: center;
      justify-content: center;
      background-color: var(--color-footer-bg-one);
    }
    .copyright {
      height: 70px;
      font-size: 11px;
      text-align: center;
      padding-block: 1rem;
      color: var(--color-font-three);
    }
  }
</style>
